@import "../../responsive.scss";




nav{
height: 100px;
display :flex;
justify-content: space-around;
align-items: center;
font-size:17px;


a{
    transition: all 0.4s ease;
    @include sm{
           display: none;
    }
    &:hover{
        scale: 1.20;// es sa element ka size 120%  increase ho jya ga ..
    }
}
.left{
  
    flex:4;
    display:flex;
    align-items : center;
    gap:50px;



.logo{
    
    font-weight:bold;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap:7px;

   

    img{

        width: 60px;

    }
    .span{
        @include md{
            display:none;
        }
    
    
        @include sm{
            display:initial;
        }

    }
}
}



.right{
    height:100%;
    flex:2;
    display: flex; // ek he line ma la aya ga ya .
   
    align-items:center; //element center ma aya jya ga 
    justify-content:flex-end; 
   background-color: rgb(216, 224, 230);
  
   @include md {
    background-color: transparent;
  }


    a{
        padding:12px 24px;
        margin:20px;
    }

    .change{
       background-color: yellow;
       font-size: medium;
    }

.menuIcon{
    display:none;
    z-index: 999;

    img{
    width: 36px;
    height: 36px;
    cursor: pointer;
          }

     width: 10px;
     @include sm{

        display: inline;
    }
}
.menu{
    position: absolute;
    top :0;
    right :-200%;
    background-color: rgb(181, 76, 76);
    font-display: white;
    height: 100vh;
    width: 50%;
    transition:  all;
    display :flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    font-size:24px;

    &.active{
        right: 0;
    }

    @include sm{ 

     a{
        display: initial;
        }
      
    }
  
}

}
}